body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
}
.first-page {
    background-color: lightpink;
    padding-bottom: 20px;
    width: 100%;
}

.left h2 {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 20px;
}

ul {
    list-style-type: none ;
}

.right {
    margin-left: 600px;
}
.right-links {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #e5e7eb;
}

li {
    margin-left: 20px;
    transition: 1s;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.info {
    margin-top: 100px;
    margin-left: 20px;
    text-align: start;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

p {
    margin-top: -20px;
}

.info-text, .info-pic {
    display: inline-block;
    vertical-align: top;
}

.info-text {
    width: 550px;
}

.info-text2 {
    margin-top: 10px;
}

hr {
    background-color: black;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2px;
}
.pic {
    height: 520px;
    width: 400px;
    vertical-align:top;
    margin-left: 260px;
    margin-top: 30px;
}

span {
    color: hotpink;
    font-style: italic;
}

button {
    font-size: 15px;
    font-weight: bolder;
    border: 2px solid hotpink;
    border-radius: 2px;;
    background-color: hotpink;
    padding: 10px;
    margin-top: -15px;
    margin-left: 200px;
    box-shadow: 2px 2px 3px hotpink;
    transition: 0.7s;
}

button:hover {
    background-color: rgb(219, 97, 158);
    box-shadow: 2px 2px 3px black;
    border: 2px solid  rgb(219, 101, 160);
    cursor: pointer;
}

.content {
    text-align: center;
    background-color: rgb(253, 241, 242);
    
}

.second-title{
  font-size: 36px;
  text-align: center;
  margin-top: 60px;
}

.informational-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex:1;
}

.info-pics {
    margin: 40px 30px;
    object-fit: cover;
    height: 200px;
    width: 200px;
    border: 3px solid hotpink;
    border-radius: 3px;
    flex: 1;
}

.picture-information {
    width: 265px;
}


