body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
}
.first-page {
    background-color: rgb(122 42 82);
    padding-bottom: 20px;
    width: 100%;
}

.left h2 {
    font-size: 24px;
    color: rgb(254 226 240);
    margin-left: 20px;
}

ul {
    list-style-type: none ;
}

.right {
    margin-left: 600px;
}
.right-links {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #e5e7eb;
}

li {
    margin-left: 20px;
    transition: 1s;
    color: #fee2f0;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.info {
    margin-top: 100px;
    margin-left: 20px;
    text-align: start;
}

h1 {
    font-size: 48px;
    color: rgb(254 226 240);
    font-weight: bolder;
}

.info-paragraphs p {
    color: rgb(254 226 240);
}
p {
    margin-top: -20px;
}

.info-text, .info-pic {
    display: inline-block;
    vertical-align: top;
}

.info-text {
    width: 550px;
}

.info-text2 {
    margin-top: 10px;
}

hr {
    background-color: black;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2px;
}
.pic {
    height: 520px;
    width: 400px;
    vertical-align:top;
    margin-left: 260px;
    margin-top: 30px;
}

span {
    color: hotpink;
    font-style: italic;
}

button {
    font-size: 15px;
    font-weight: bolder;
    border: 2px solid hotpink;
    border-radius: 2px;;
    background-color: hotpink;
    padding: 10px;
    margin-top: -15px;
    margin-left: 200px;
    box-shadow: 2px 2px 3px hotpink;
    transition: 0.7s;
}

button:hover {
    background-color: rgb(237, 163, 200);
    box-shadow: 2px 2px 3px black;
    border: 2px solid  rgb(219, 101, 160);
    cursor: pointer;
}

.content {
    text-align: center;
    background-color: #fee2f0;
    
}

.second-title{
  font-size: 36px;
  text-align: center;
  margin-top: 60px;
  color: rgb(164 70 117);
}


.informational-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex:1;
}

.info-pics {
    margin: 40px 30px;
    object-fit: cover;
    height: 200px;
    width: 200px;
    border: 5px solid rgb(164 70 117);
    border-radius: 3px;
    flex: 1;
}

.picture-information {
    width: 265px;
}

.quote {
    background-color: rgb(240 240 240);
    height: 300px;
}

.quote-text {
    color: rgb(121 42 82);
    font-size: 36px;
    width: 600px;
    padding: 10px;
    margin: 100px auto;
}

.quote-text p {
    margin-top: 40px;
    margin-left: 380px;
}


.call-to-action {
    background-color: #fee2f0;
    height: 200px;
}

.section-wrapper {
    display: flex;
    flex-direction: row;
    row-gap: 0;
    border-radius: 10px;
    height: 150px;
    width: 700px;
    margin-top: 40px;
    margin-left: 280px;
    background-color: hotpink;
}

.text-box {
    height: 130px;
    margin-top: 25px;
    margin-left: 50px;
    width: 400px;
}

.text-box1 {
    height: 80px;
    width: 400px;
    color: #fee2f0;
}

.text-box2 {
    margin-top: -70px;
    width: 300px;
    font-weight: 100;;
    color: #fee2f0;
}

button {
    margin-top: 50px;
    margin-left: 45px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border:2px solid #fee2f0;
    border-radius: 5px;
    font-size:20px;
    color: #fee2f0;
}




