body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
}

.first-page {
    background-color: lightpink;
    margin: -8px;
}

.left h2 {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 20px;
}

ul {
    list-style-type: none ;
}

.right {
    margin-left: 600px;
}
.right-links {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #e5e7eb;
}

li {
    margin-left: 20px;
}

.info {
    margin-top: 100px;
    margin-left: 20px;
    text-align: start;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

p {
    margin-top: -20px;
}

.info-text, .info-pic {
    display: inline-block;
    vertical-align: top;
}

.info-text {
    width: 550px;
}
img {
    height: 520px;
    width: 400px;
    vertical-align:top;
    margin-left: 260px;
    margin-top: 30px;
}